/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
input, textarea{
    margin: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        /*scroll-behavior: smooth;*/
    }
}

html {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -moz-font-feature-settings: "kern";
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
    font-variant-numeric: normal;
    word-wrap: break-word;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-clear {
    display: none !important;
}

input::-ms-reveal {
    display: none !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent !important;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    outline: none;
    border-radius: 0;
    cursor: pointer;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

a {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


svg {
    overflow: visible;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
